body {
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
}

/*
.fahrenheit {
  text-decoration: none;
}

.celsius {
  text-decoration: none;
}
h3 {
  text-align: center;
  font-family: monospace;
}

.day {
  text-align: center;
}

.row {
  position: absolute;
  text-align: center;
  right: 270px;
}
*/
.card {
  background: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
  margin: auto;
  width: 60%;
  border: 3px solid #73ad21;
  padding: 0 auto;
}