body {
  font-family:monospace;
  margin: 0 auto;
}

.card {
  background: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
  margin: auto;
  width: 60%;
  border: 3px solid #73ad21;
  padding: 0 auto;
}

.card-body{
 margin: 10px 25px;
}